__pycache__/
_FOSSIL_*
.#*
.dir-locals.el
.dmypy.json
.DS_Store
.eggs/
.env
.envrc
.flake8
.fossil-settings/
.github/
.history/
.idea
.installed.cfg
.mypy_cache/
.Python
.tmp
.venv
.vscode
*.~lock.*
*.egg
*.egg-info/
*.py[cod]
*.swp
*~
*~*
*$py.class
~*
build/
develop-eggs/
dist/
dmypy.json
downloads/
eggs/
en
env.bak/
env/
ENV/
lib/
lib64/
parts/
sdist/
share/python-wheels/
var/
venv.bak/
venv/
wheels/
